appdirs==1.4.4
autocommand==2.2.1
certifi==2021.5.30
cql==1.4.0
distlib==0.3.1
dnspython==1.16.0
elastic2-doc-manager==1.0.0
elasticsearch==5.5.3
filelock==3.0.12
flake8==3.8.4
greenlet==1.0.0
importlib-metadata==4.8.1
importlib-resources==5.3.0
mccabe==0.6.1
mongo-connector==3.1.1
msgpack==1.0.2
neovim==0.3.1
neovim-remote==2.4.0
pipenv==2021.5.29
psutil==5.8.0
pycodestyle==2.6.0
pyflakes==2.2.0
pymongo==3.12.0
pynvim==0.4.3
rope==0.18.0
ropemode==0.5
ropevim==0.8.1
six==1.15.0
thrift==0.15.0
urllib3==1.26.7
virtualenv==20.4.2
virtualenv-clone==0.5.7
yapf==0.30.0
zipp==3.6.0
